body {
    background-image: url("../images/OtherForest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(92, 92, 17);

}
ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    float: left;
    padding: 8px;
    border-right: 1px solid #855723;
}
li:last-child {
    border-right: none;
}
a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 2px;
}
li a:hover {
    background-color: #cc9966;
}

.grid {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

#mainContent {
    border: 5px solid #855723;
    border-radius: 20px;
    background-color: #CDAA7D;
    background-color: #DEB887;
    width: 60%;
    height: 600px;
    margin-left: 20px;
    padding: 20px;
    font-size: 20px;
}

#verticalLinks {
    border: 5px solid #855723;
    border-radius: 20px;
    background-color: #DEB887;
    margin-left: 100px;
    padding: 20px;
    font-size: 20px;
}

#aboveBar {
    border: 5px solid #855723;
    background-color: #DEB887;
}

#specifyHikeButton {
    background-color: #fff8dc;
}

img {
    float:right;
    width: 20px;
    height: 20px;
}

#day1, #day2, #day3, #day4, #day5 {
    float: right;
}