body {
    background-image: url("../images/OtherForest.jpg");
    background-size: cover, contain;
    background-repeat: no-repeat;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(92, 92, 17);

}
ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    float: left;
    padding: 8px;
    border-right: 1px solid #855723;
}
li:last-child {
    border-right: none;
}
a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 2px;
}
li a:hover {
    background-color: #cc9966;
}

.grid {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

#mainContent, #trailInfo {
    border: 5px solid #855723;
    border-radius: 20px;
    background-color: #CDAA7D;
    background-color: #DEB887;
    width: 60%;
    min-height: 600px;
    margin-left: 20px;
    padding: 20px;
    font-size: 20px;
}

#verticalLinks {
    border: 5px solid #855723;
    border-radius: 20px;
    background-color: #DEB887;
    margin-left: 100px;
    padding: 20px;
    font-size: 20px;
}

#aboveBar {
    border: 5px solid #855723;
    background-color: #DEB887;
}

#specifyHikeButton {
    background-color: #fff8dc;
}

#day1 img, #day2 img, #day3 img, #day4 img, #day5 img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    float:left;
}

#day1, #day2, #day3, #day4, #day5 {
    float: right;
    visibility:hidden;
    width: 200px;
    height: 100px;
    
}

#day1 p, #day2 p, #day3 p, #day4 p, #day5 p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#day1 h4, #day2 h4, #day3 h4, #day4 h4, #day5 h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#trailInfo img {
    float: right;
    margin-right: 30px;
    border-color: darkolivegreen;
    border-width: 5px;
    border-style: solid;
}